.card {
    width: 294px !important; /* 카드의 너비 */
    height: 506px !important; /* 카드의 높이 */
    gap: 20px; /* 카드 간격 */
    background-color: white; /* 카드 배경색 */
    border: 1px solid black; /* 카드 테두리 */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.card-title {
    font-size: 29px; /* 제목 글자 크기 */
    font-weight: bold; /* 제목 글자 두께 */
    margin: 10px; /* 제목과 카드 테두리 사이의 여백 */

}

.card-image {
    width: 294px; /* 이미지의 너비 */
    height: 392px; /* 이미지의 높이 */
    background-color: #D9D9D9; /* 이미지 배경색 */
}

.card-image img {
    width: 100%; /* 이미지 너비 */
    height: 100%; /* 이미지 높이 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.card-content {
    width: 294px; 
    height: 94px;
    gap: 4px
}

.card-title {
    width: 294px; 
    height: 34px; 
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0;
    text-align: left;
    margin-left: 0;
    
    color: black; 
    
}

.card-description {
    width: 294px; 
    height: 56px; 
    font-size: 24px;
    color: black; 
    font-weight: 400;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /*줄바꿈 처리*/
    box-sizing: border-box;
    

}